{{define "title"}}
Delete Collection
{{end}}

{{define "content"}}
 
<div class="row p-2">
    <div class="col">
      <div class="card ">
        <div class="card-header">
          <p class="h5"> Delete Collection
  
          </p>
  
            </div>
          <div class="card-body">
           


            <div class="alert alert-secondary" role="alert">
                  Name :  <a href="" class="alert-link">{{.Collection.Name}}</a>
                  <br>
                  <br>
                  Description :  <a href="" class="alert-link">{{.Collection.Desc}}</a>

            </div>

            <div class="alert alert-danger" role="alert">
               Deleting collection will delete all the endpoints in this collection!!
            </div>

<form action='/collections/delete' method='POST'  >
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <input type="hidden" name="id" value="{{.Collection.ID}}">
 

 
    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Confirm</button>

</form>

</div>
</div>
</div>
</div>
{{end}}