{{define "title"}}
Collections
{{end}}

{{define "content"}}

<div class="row p-2">
    <div class="col">
        <div class="card ">
            <div class="card-header">
                <p class="h5">Collections <a class="btn btn-ghost-info float-end" href="/collections/add">+Add</a></p>
            </div>
            <div class="card-body">
                <table id="collectionlist" class="table   table-borderless table-responsive-sm table-striped    ">
                    <thead class="thead-dark">

                        <tr>
                            <th>Name</th>
                            <th>Description</th>


                            <th>Options </th>

                        </tr>
                    </thead>
                    <tbody>
                        {{if .Collections}}

                        {{range .Collections}}
                        <tr>
                            <td>{{.Name}} </td>

                            <td>{{.Desc}} </td>



                            <td>

                                <a class="btn btn-ghost-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="Endpoints" href='/endpoints?cid={{.ID}}'>
                                <i class="bi bi-list-ul me-2"></i>
                            </a>

                                <a class="btn btn-ghost-info  " href='/collections/edit/{{.ID}}'>
                                    <i class="bi bi-pencil"></i>
                                </a>




                                <a class="btn btn-ghost-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="Delete" href='/collections/delete/{{.ID}}'>
                                    <i class="bi bi-trash me-2"></i>
                                </a>









                            </td>

                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{{end}}


{{define "aftercontent"}}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#collectionlist').DataTable({
            "pageLength": 100,
            "language": {
                "emptyTable": "No records."
            }
        });
    });
</script>
{{end}}
