{{define "title"}}
Delete
{{end}}

{{define "content"}}


<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <div class="card H-100">
                <div class="card-header">Delete Endpoint </div>
                <div class="card-body">

                    <div class="alert alert-secondary" role="alert">
                        Endpoint Name.........:  <a href="" class="alert-link">{{.EndPoint.Name}}</a>
                    </div>


                    <form method="post" action="/endpoints/delete">
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                        <input type="hidden" name="endpointid" value="{{.EndPoint.ID}}">
                        <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        {{end}}