{{define "editpointoptions"}}

{{if .Name}}
<li class="sidebar-nav-title">Endpoint:</li>
<li class="sidebar-nav-item">
  <a class="sidebar-nav-link sidebar-endpoint-name">{{.Name}}</a>
</li>
{{end}}

<li class="sidebar-nav-item">
    <a class="sidebar-nav-link" href='/endpoints/update/{{.ID}}'>
        <i class="bi bi-pencil me-2"></i>Edit</a>
</li>
<li class="sidebar-nav-item">
    <a id="responsemenu" class="sidebar-nav-link" href='/epr/{{.ID}}'>
        <i class="bi bi-arrow-left me-2"></i>Responses</a>
</li>
<li class="sidebar-nav-item">
    <a id="requestparammenu" class="sidebar-nav-link" href='/requestparam/{{.ID}}'>
        <i class="bi bi-arrow-right me-2"></i>Request Params</a>
</li>

<li class="sidebar-nav-divider"></li>

<li class="sidebar-nav-item">
    <a id="conditionsmenu" class="sidebar-nav-link" href='/conditions/{{.ID}}'>
        <i class="bi bi-check-lg me-2"></i>Conditions</a>
</li>
<li class="sidebar-nav-item">
    <a id="conditionactionsmenu" class="sidebar-nav-link" href='/conditiongroups/{{.ID}}'>
        <i class="bi bi-check-circle me-2"></i>Condition Actions</a>
</li>

<li class="sidebar-nav-divider"></li>

<li class="sidebar-nav-item">
    <a class="sidebar-nav-link" href='/endpoints/logs/{{.ID}}'>
        <i class="bi bi-chat-left-text me-2"></i>Logs</a>
</li>
<li class="sidebar-nav-item">
    <a class="sidebar-nav-link" href='/endpoints/delete/{{.ID}}'>
        <i class="bi bi-trash me-2"></i>Delete</a>
</li>
<li class="sidebar-nav-item">
    <a class="sidebar-nav-link" href='/endpoints/owners/{{.ID}}'>
        <i class="bi bi-person me-2"></i>Owners</a>
</li>

<li class="sidebar-section-divider"></li>

{{end}}
